.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px; /* Optional: Add background color if needed */
  }
  
  .logo img {
    height: 80px;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    font-size: 18px;
    color: white;
    align-items: center;
    gap: 30px;
    cursor: pointer;
  }
  
  .hovering {
    position: relative;
    font-size: 20px;
    font-family: "Gill Sans", sans-serif;
  }
  
  .hovering::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: yellow;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hovering:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  /* ------------ RESPONSIVE STYLES ------------ */
  @media (max-width: 768px) {
    .nav-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 10px 30px; /* Optional: Add background color if needed */
      }
      .hovering {
        position: relative;
        font-size: 15px;
        font-family: "Gill Sans", sans-serif;
      }
      .logo img {
        height: 100px
      }
  }
  
  @media (max-width: 480px) {
  
  

  }
  