.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px; /* Optional: Add background color if needed */
  }
  
  .logo img {
    height: 80px;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    font-size: 18px;
    color: white;
    align-items: center;
    gap: 30px;
    cursor: pointer;
  }
  
  .hovering {
    position: relative;
    font-size: 20px;
    font-family: "Gill Sans", sans-serif;
  }
  
  .hovering::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: yellow;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hovering:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  /* ------------ RESPONSIVE STYLES ------------ */
  @media (max-width: 768px) {
    .nav-container {
      flex-direction: column;
      align-items: flex-start;
      display: flex;
    }
  
    .logo img {
      height: 70px;
    }
  
    .nav-links {
      flex-direction: row;
      align-items: flex-start;
      width: 100%;
      margin-top: 20px;
      gap: 15px;
      
    }
  
    .hovering {
      font-size: 18px;
    }
  }
  
  @media (max-width: 480px) {
    .nav-container {
      padding: 10px 20px;
      display: flex;
      flex-direction: row;

    }
    
    .logo img {
      height: 50px;
    }
  
    .hovering {
      font-size: 16px;
    }
  }
  